.add-services {
  margin-top: 10px;
}
.add-services form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-services form input {
  width: 50%;
  margin-bottom: 10px;
  height: 35px;
}
.add-services form textarea {
  width: 50%;
  margin-bottom: 10px;
  height: 120px;
}
