.add-orders {
  margin-top: 10px;
}
.add-orders form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-orders form input {
  width: 50%;
  margin-bottom: 10px;
  height: 35px;
}
.add-orders form textarea {
  width: 50%;
  margin-bottom: 10px;
  height: 80px;
}
